@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Bem Vindo :D</h1>
    <br />
    <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste <br />
        Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste </p>
</div>
