@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">:D</h1>
    <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste </p>
</div>
